@import 'variables';

:host {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $side-panel-background;
}

.image-container {
    width: 100%;
    height: fit-content;
    padding: 16px;
    align-items: center;
    place-content: center;
}

.image-frame {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
}

.editable-info {
    width: 100%;
    background-color: $default-background;
}