<app-side-header title="Profile" (back)="goBack()"></app-side-header>
<div class="image-container column">
    <div class="image-frame column">
        <img src="../../../../assets/images/user-default.png">
    </div>
</div>

<div class="column gap8">
    <div class="editable-info column p16">
        <span>Your name</span>
        <span>Behzad Chizari</span>
    </div>
    <div class="editable-info column p16">
        <span>About</span>
        <span>Hey there! I am using WhatsApp.</span>
    </div>
</div>