@import 'variables';

.chat-item {
    border-bottom: 1px solid $border-gray;
    background-color: $default-background;
    width: 100%;
    height: 72px;
    cursor: pointer;
    animation: slideIn 400ms alternate ease;

    &:hover {
        background-color: $default-background-hover;
    }
}

.active.chat-item {
    background-color: $active-background;
}

.chat-item-avatar-container {
    display: flex;
    align-items: center;
    padding: 16px;

    .chat-item-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: inherit;
        }
    }
}

.chat-item-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    padding-right: 16px;
}

.chat-name {
    font-size: 16px;
}

.chat-item-secondary {
    position: relative;
    align-items: flex-start;
}

.message-hint {
    max-width: 100%;
    transition: all 100ms ease-in;
    position: relative;
    min-height: 20px;

    .display-message {
        position: absolute;
        width: 100%;
    }

    span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 10px;
        position: absolute;
        width: 100%;
    }
}

.chat-status {
    align-items: center;
    transition: all 100ms ease-in;
    right: 0;

    .icon-center {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        place-content: center;
        color: $icon-lighter;
        font-size: 18px;
    }
}

.unread-badge {
    background-color: $whatsapp-accent;
    color: $contrast-font;
    border-radius: 45%;
    text-align: center;
    display: flex;
    align-items: center;
    place-content: center;
    min-width: 20px;
    height: 20px;
    font-size: 10px;
}



.unread {
    .chat-name {
        font-weight: bold;
    }

    .message-hint {
        font-weight: bold;
    }

    .unread-badge {
        display: block;
    }

    .chat-last-message-date {
        color: $whatsapp-accent;
        font-weight: bold;
    }
}

//LG && MD
@media screen and (min-width:$md-screen) {
    .chat-item-action {
        transition: all 400ms ease;
        width: 0;
        opacity: 0;
        transform: translateX(5px);

        & mat-icon {
            color: $icon-lighter
        }
    }

    .chat-item:hover {
        & .chat-item-action {
            visibility: visible;
            width: 24px;
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

//SM && XS
@media screen and (max-width: $md-screen) {
    .chat-item-action {
        position: absolute;
        opacity: 1;
        width: 0;
        overflow: hidden;
        top: -20px;
        left: 0;
    }
}