<div class="message-view">
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
    <p>chat-controler works!</p>
</div>