@import 'variables';

:host {
    background: #f3efea url(../.../../../../../assets/images/default-background.jpg);
    background-size: contain;
    background-blend-mode: darken;

}

.message-view {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.message-view>:first-child {
    margin-top: auto
}

p {
    padding: 10px 0;
}


button {
    position: sticky;
    bottom: 0;
}