<div class="chat-list-header row">
    <div class="avatar-container row col-1 gap16">
        <div class="avatar">
            <img [src]="chatItem.image" alt="user avatar">
        </div>
        <div class="chat-info col-1 column">
            <div class="chat-name"><span>{{chatItem.name}}</span></div>
            <div class="chat-status"><span>click here for more info</span></div>
        </div>
    </div>
    <div class="profile-options row gap16">
        <div class="header-action row"><mat-icon>more_vert</mat-icon></div>
    </div>
</div>