@import 'variables';

.message-out-container {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .message {
        background-color: $message-out-background;

        .message-info {
            justify-content: space-between;
        }

        button {
            background: linear-gradient(to right, $message-out-background, $message-out-background, transparent);
        }

        &::before {
            right: -8px;
            border-color: $message-out-background;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
    }
}

.message-in-container {
    display: flex;
    justify-content: flex-start;

    .message {
        background-color: $message-in-background;
        border-radius: 8px;

        .message-info {
            justify-content: end;
        }

        button {
            background: linear-gradient(to right, $message-in-background, $message-in-background, transparent);
        }

        &::before {
            left: -8px;
            border-color: $message-in-background;
            border-left-color: transparent;
            border-bottom-color: transparent;
        }
    }
}

.message {

    width: fit-content;
    min-width: 150px;
    padding: 4px 8px 0 8px;
    max-width: 300px;
    position: relative;

    .message-action {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;

        button {
            width: 40px;
            padding: 5px 0 0 5px;
            color: $secondary-font;
            display: flex;
            visibility: hidden;
            transform: translate(-20px);
            transition: all 100ms ease-in-out;
            border: none;
            cursor: pointer;
        }
    }

    .message-text {
        font-size: 14px;
        color: $primary-font;
    }

    .message-info {
        color: $icon-lighter;
        font-size: 12px;
        align-items: center;
    }

    .read-status {
        display: flex;

        mat-icon {
            font-size: 12px;
            width: unset;
            height: unset;
        }
    }

    &::before {
        content: " ";
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        border-style: solid;
        border-width: 8px;
    }

    &:hover .message-action button {
        visibility: visible;
        transform: translate(0px);

    }
}