@import 'variables';

:host {
    flex-grow: 1;
}

app-chat-mesage-view {
    flex: 1 1 0;
}

app-chat-header {
    max-height: 55px;
}


@media screen and (max-width: $md-screen) {
    :host {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}