<div class="chat-list-header row">
    <div class="avatar-container row col-1">
        <div class="avatar">
            <img src="../../../../../assets/images/user-default.png" alt="user avatar">
        </div>
    </div>
    <div class="profile-options row col-1 gap16">
        <div class="header-action row"><mat-icon> chat_bubble_outline</mat-icon></div>
        <div class="header-action row"><mat-icon>group_add</mat-icon></div>
        <div class="header-action row"><mat-icon>more_vert</mat-icon></div>
    </div>
</div>