<div class="chat-item row" [class.unread]="unread" [class.active]="active">
    <div class="chat-item-avatar-container">
        <div class="chat-item-avatar">
            <img src="https://picsum.photos/200" alt="username">
        </div>
    </div>
    <div class="chat-item-info">
        <div class="row">
            <div class="chat-name col-1"><span>Behzad Chizari</span></div>
            <div class="chat-last-message-date"><small>Saturday</small></div>
        </div>
        <div class="chat-item-secondary row">
            <div class="message-hint col-1" title="Message">
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen
                    book
                </span>
            </div>
            <div class="chat-status row">
                <div class="icon-center">
                    <mat-icon>volume_off</mat-icon>
                </div>
                <div class="unread-badge">145</div>
            </div>
            <div class="chat-item-action">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
        </div>
    </div>
</div>