<div class="chat-item row" [class.unread]="chatItem.unreadMessagesCount" [class.active]="chatItem.isActive"
    (click)="onChatItemClick()">
    <div class="chat-item-avatar-container">
        <div class="chat-item-avatar">
            <img src="https://picsum.photos/200" alt="username">
        </div>
    </div>
    <div class="chat-item-info">
        <div class="row">
            <div class="chat-name col-1"><span>{{chatItem.name}}</span></div>
            <div class="chat-last-message-date"><small>{{chatItem.lastActivity! | appDate}}</small></div>
        </div>
        <div class="chat-item-secondary row">
            <div class="message-hint col-1" title="Message">
                <span>{{chatItem.displayMessage}}</span>
            </div>
            <div class="chat-status row">
                <div class="icon-center" *ngIf="chatItem.muted">
                    <mat-icon>volume_off</mat-icon>
                </div>
                <div class="unread-badge" *ngIf="chatItem.unreadMessagesCount">
                    <span [innerHTML]=""></span>{{chatItem.unreadMessagesCount | limitNumber:2}}
                </div>
            </div>
            <div class="chat-item-action">
                <button class="no-button" [matMenuTriggerFor]="menu" (click)="onChatActionClick($event)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Pin chat</button>
                    <button mat-menu-item>Marke as unread</button>
                    <button mat-menu-item>Delete</button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>