<app-chat-item [active]="true"></app-chat-item>
<app-chat-item [unread]="true"></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item [unread]="true"></app-chat-item>
<app-chat-item [unread]="true"></app-chat-item>
<app-chat-item [unread]="true"></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>